body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: azure;
}

::-webkit-scrollbar {
  display: none;
}

.center-content-top {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.center-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-content-card {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.main-content {
  margin: 4rem;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #252525;
  width: 100%;
  color: #f0f0f0;
}

.card-ind {
  margin: 15px;
}
