body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: azure;
  overflow: auto;
}

.center-content-top {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.center-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-content-card {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #252525;
  width: 100%;
  position: relative; /* Stick the footer to the bottom */
  bottom: 0; /* Stick the footer to the bottom */
  color: #f0f0f0;
}

.image {
  justify-content: end;
  border: 1px solid transparent; /* Ensures space for border */
  border-radius: 10px; /* Adjust as needed */
  filter: blur(5px); /* Adjust blur amount as needed */
}

.card-center {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  display: none;
}
